<div data-ng-hide="matchStarted">
    <div class="row">
        <div class="column large-5">
            <div>
                <div
                    angucomplete
                    placeholder="Search people"
                    pause="300"
                    selectedobject="teams.team1.players[0]"
                    localdata="players"
                    searchfields="fullName"
                    titlefield="fullName"
                    minlength="1"
                ></div>
            </div>
            <br />
            <div>
                <div
                    angucomplete
                    placeholder="Search people"
                    pause="300"
                    selectedobject="teams.team1.players[1]"
                    localdata="players"
                    searchfields="fullName"
                    titlefield="fullName"
                    minlength="1"
                ></div>
            </div>
        </div>
        <div class="column large-2" style="line-height: 100px; text-align: center;">
            V.S.
        </div>
        <div class="column large-5">
            <div>
                <div
                    angucomplete
                    placeholder="Search people"
                    pause="300"
                    selectedobject="teams.team2.players[0]"
                    localdata="players"
                    searchfields="fullName"
                    titlefield="fullName"
                    minlength="1"
                ></div>
            </div>
            <br />
            <div>
                <div
                    angucomplete
                    placeholder="Search people"
                    pause="300"
                    selectedobject="teams.team2.players[1]"
                    localdata="players"
                    searchfields="fullName"
                    titlefield="fullName"
                    minlength="1"
                ></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column large-2 large-centered">
            <button data-ng-click="startMatch()">Start Match</button>
        </div>
    </div>
</div>
<div data-ng-show="matchStarted">
    <div class="row">
        <div class="column large-5" style="text-align: center;">
            {{ teams.team1.players[0].originalObject.id }} - {{ teams.team1.players[0].originalObject.name }}<br />
            {{ teams.team1.players[1].originalObject.id }} - {{ teams.team1.players[1].originalObject.name }}
        </div>
        <div class="column large-2" style="line-height: 100px; text-align: center;">
            V.S.
        </div>
        <div class="column large-5" style="text-align: center;">
            {{ teams.team2.players[0].originalObject.id }} - {{ teams.team2.players[0].originalObject.name }}<br />
            {{ teams.team2.players[1].originalObject.id }} - {{ teams.team2.players[1].originalObject.name }}<br />
        </div>
    </div>
    <div class="row">
        <div class="column large-5" style="text-align: center;">
            <select data-ng-model="teams.team1.points">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
        </div>
        <div class="column large-2">
            &nbsp;
        </div>
        <div class="column large-5" style="text-align: center;">
            <select data-ng-model="teams.team2.points">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="column large-2 large-centered">
            <button data-ng-click="finishMatch()">Finish Match</button>
        </div>
    </div>
</div>