<div data-ng-hide="matchStarted">
    <div class="row">
        <div class="large-12 columns">
            <label>Firstname
                <input data-ng-model="player.firstname" type="text" placeholder="Insert firstname..." />
            </label>
            <label>Lastname
                <input data-ng-model="player.lastname" type="text" placeholder="Insert lastname..." />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <button data-ng-click="save(player)">Create</button>
        </div>
    </div>
</div>
